body{
    background-image: url(/assets/cidade-destruida-1.jpg);
    width: 100%;

}
.container{
    margin: 50px auto;
    background-color: gray;
    text-align: center;
    width: 50%;
    border: 3px dashed black;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section-1, #section-2, #section-3, #section-4 {
    border: 2px solid black;
    margin: 30px 25px;
    border-radius: 20px;
    padding: 20px;
    line-height: 25px;
}
h1{
    font-size: 45px;
    text-decoration: underline;
    
}
h2{
    font-size:25px;
    text-decoration:underline;
}
h3{
    font-size: 20px;
    text-decoration: underline;
}
#capa-livro{
    margin: 20px;
    width: 50%;
    border: 2px solid grey;
    border-radius: 20px;
}
#autor{
    margin: 20px;
    border: 2px solid grey;
    border-radius: 50%
}
a{
    background-color: black;
    color: white;
    font-size: 25px;
    border: 3px solid black;
    padding: 10px 40px;
    border-radius: 20px;
}
#text-section-4, #text-section-1{
    margin-bottom: 50px;
}
.titulo-livro{
    font-weight: bold;
}
